*#
*~
.#*
.ipynb_*
ReadMe
get-halpha.py
method_3filter_l.py
splus_estimator_l.py
misc.py
/images/*.fits
/Halpha-emission/*.fits
/images-withmag/*.fits
/images/*.fz
/images-withmag/*.fz
/images/*rgb.png
/images-emo/*.fits
/images-emo/*.fz
/images-emo/*rgb.png
/images-smc/*
/PN_atlas_datapack_v1/*.fits
/PN_atlas_datapack_v1/*.fits
/PN_atlas_datapack_v1/1D/*
/PN_atlas_datapack_v1/2D/*
/STARS/*
/__pycache__/
/filter_curves/
/Text/Poster/.~lock.FoF_SPLUS_MCPNe.odp#
/Text/Poster/FoF_SPLUS_MCPNe.odp
/images-smc/_media_files_MC0094_R_swp.fz
/Text/Poster/PNMC_18thSPLUSmeeting-Luis-Gutierrez.odp
/Text/Poster/PNMC_18thSPLUSmeeting-Luis-Gutierrez.pptx