*~
.ipynb_*
ReadMe
get-halpha.py
method_3filter_l.py
splus_estimator_l.py
misc.py
/images/*.fits
/Halpha-emission/*.fits
/images-withmag/*.fits
/images/*.fz
/images-withmag/*.fz
/images/*rgb.png
/images-emo/*.fits
/images-emo/*.fz
/images-emo/*rgb.png
/images-smc/*
/__pycache__/
/filter_curves/
/Text/Poster/.~lock.FoF_SPLUS_MCPNe.odp#
/Text/Poster/FoF_SPLUS_MCPNe.odp